$btnColor: #0075ff;
$sizeHalf: 47.5px;

// Reset default link styles
a.button {
  text-decoration: none;
}

// Reset default button styles
button.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

a.button,
button.button {
  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start; // Optional - see "Gotchas"

  // Visual
  background-color: black;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border: 1px dashed #999;

  // Size
  padding: 4px 9px;
  width: 100px;
  min-height: $sizeHalf;

  // Text
  text-align: center;
  line-height: 1.1;

  transition: 220ms all ease-in-out;

  &:hover,
  &:active {
    background-color: scale-color($btnColor, $lightness: -20%);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
  }

  &--small {
    font-size: 1.15rem;
  }

  &--block {
    width: 100%;
  }
}

canvas{
  display: block;
}

.button_ctrl{
  width: 100px;
  height: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: solid 1px #999;
  transition: all 0.2s linear 0s;
  
  &:hover{
    background-color: #333;
  }
  
  &[disabled]{
    transition: all 0.2s linear 0s;
    background: repeating-linear-gradient(
      45deg,
      #333,
      #333 10px,
      #252525 10px,
      #252525 20px
    );
    cursor: default;
  }

  &-small{
    width: $sizeHalf;
    height: $sizeHalf;
  }
}